@import "require/_normalize.less";
@import "require/_var.less";
@import "require/_mixin.less";
@import "require/_fonts.less";
@import "require/_grid.less";
@import "require/_keyframes.less";
@import "require/_gradients.less";

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body{
	overflow: hidden;
}

html {
	font: 100%/1.5 @font;
}

body {
	.nav-current() {
		color: @grey-dark;
		text-decoration: underline;
	}

	&.is-home {
		.nav-item[href='#!/home']{
			.nav-current();
		}
	}
	&.is-about {
		.nav-item[href='#!/about']{
			.nav-current();
		}
	}

	&.is-loaded {
		nav,
		footer{
			opacity: 1;
		}
	}
}

/* -----
Common
----- */
a {
	color: @black;
	text-decoration: underline;

	&:hover {
		color: @base;
	}
}

ul {
	list-style-type: none;
}

p {
	font: @14px/@25px @font;
}

/* -----
Preloader
----- */
.preloader {
	.fixed();
	text-align: center;
	background: @white;
}
nav,
footer {
	opacity: 0;
	transition: opacity .7s @easeOutExpo;
}

/* -----
Navigation
----- */
nav {
	position: fixed; top: 0; right: 0; left: 0;
	display: block;
	text-align: center;
	.size(100%,50px);
	margin-top: 2rem;
	z-index: 3;

	.nav-item {
		color: @grey-light;
		cursor: pointer;
		margin: 0 5px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

footer {
	position: fixed; bottom: 0; right: 0; left: 0;
	display: block;
	text-align: center;
	.size(100%,50px);
	margin-bottom: 1rem;
	z-index: 3;

	p {
		color: @grey-light;

		a {
			color: @grey-dark;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* -----
Utils
----- */
.vertical-center {
	display: table;
	position: relative;
	.size(100%,100%);
	
	.vertical-el {
		display: table-cell;
		vertical-align: middle
	}
}

/* -----
View
----- */
.page-view {
	.fixed();
	.size(100%,100%);

	.page {
		.fixed();
		.size(100%,100%);
		.hidden();
		text-align: center;
		transform: translate3d(0,-100px,0);
	}
}

/* -----
Medias Queries
----- */
@import "require/_medias.less";
