@import "import/_normalize.less";
@import "import/_var.less";
@import "import/_mixin.less";
@import "import/_fonts.less";
@import "import/_grid.less";
@import "import/_keyframes.less";

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body{
	overflow: hidden;
}

html {
	font: 100%/1.5 @font;
}

body {
	&.is-loaded {
		footer{
			opacity: 1;
		}
	}
}

/* -----
Typography
----- */
@import "import/_typography.less";

/* -----
View
----- */
main {
	.fixed();
	.size(100%,100%);

	.page {
		.fixed();
		.size(100%,100%);
		.hidden();
		text-align: center;
	}
}

/* -----
Utils
----- */
.vertical-align {
	display: table;
	position: relative;
	.size(100%,100%);
	
	&__item {
		display: table-cell;
		vertical-align: middle
	}
}

/* -----
Footer
----- */
footer {
	position: fixed; bottom: 0; right: 0; left: 0;
	display: block;
	text-align: center;
	.size(100%,50px);
	margin-bottom: 1rem;
	z-index: 3;
	opacity: 0;
	transition: opacity .7s @easeOutExpo;

	p {
		color: @grey-light;

		a {
			color: @grey-dark;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* -----
Preloader
----- */
@import "pages/_preloader.less";

/* -----
Home
----- */
@import "pages/_home.less";

/* -----
About
----- */
@import "pages/_about.less";

/* -----
Sub Views
----- */
@import "pages/_sub.less";

/* -----
Medias Queries
----- */
@import "import/_medias.less";
