<div class="vertical-align">
    <div class="vertical-align__item">
        <p><a href="/home">Home</a> > <a href="/about">About</a></p>
        <br>
        <p style="color: #a9a9a9;">Duplicate sections</p>
        <p><strong>Section 1</strong> > <a href="/section/two">Section 2</a></p>
        <br>
        <p style="color: #a9a9a9;">Sub sections</p>
        <p><a href="/gallery">Gallery</a></p>
        <p><a href="/gallery/one">Gallery 1</a> > <a href="/gallery/two">Gallery 2</a></p>
    </div>
</div>