a, mark {
  color: #000;
}

img, legend {
  border: 0;
}

*, legend, td, th {
  padding: 0;
}

body, html, svg:not(:root) {
  overflow: hidden;
}

a:hover, footer p {
  color: #686868;
}

a, footer p a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;

  &:active, &:hover {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, optgroup, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  &[type=reset], &[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
  }
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  line-height: normal;

  &[type=checkbox], &[type=radio] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }

  &[type=number] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      height: auto;
    }
  }

  &[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    &::-webkit-search-cancel-button, &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  zoom: 1;

  &:after, &:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:after {
    clear: both;
  }
}

.device-content {
  position: relative;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-view {
  position: fixed;
  right: 0;
  top: 0;

  .page {
    position: fixed;
    right: 0;
    top: 0;
  }
}

.column {
  display: block;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

img.scale-with-grid {
  width: 100%;
  height: auto;
  display: block;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 100% / 1.5 -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body.is-loaded footer {
  opacity: 1;
}

.page-view .page, footer {
  bottom: 0;
  left: 0;
  opacity: 0;
}

ul {
  list-style-type: none;
}

p {
  font: 0.875rem / 1.563rem -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-view {
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;

  .page {
    margin: auto;
    width: 100%;
    height: 100%;
    visibility: hidden;
    text-align: center;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

.vertical-center {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.preloader, .sub-item, footer {
  position: fixed;
  right: 0;
  text-align: center;
}

.vertical-center .vertical-el {
  display: table-cell;
  vertical-align: middle;
}

.preloader {
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}

.sub-item {
  display: none;
  width: 320px;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

footer {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  z-index: 3;
  transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1);

  p a {
    color: #3a3a3a;
  }
}

@media (max-width: 768px) {
  html {
    font: 80% / 1.5 -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .device-content {
    width: 90%;
  }

  .not-mobile {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font: 90% / 1.5 -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .device-content {
    width: 700px;
  }

  .not-mobile {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  html {
    font: 95% / 1.5 -apple-system, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  .device-content {
    width: 960px;
  }
}