/* -----
Path
----- */
$base-images:          "../assets/images/";
$base-fonts:            "../assets/fonts/";

/* -----
Colors
----- */
$white: #ffffff;
$black: #000;
$grey-dark: #3a3a3a;
$grey-light: #686868;
$none: rgba(0,0,0,0);
$base: $grey-light;

/* -----
Font Family
----- */
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font: -apple-system, $helvetica;

/* -----
Font Weight
----- */
$light: 200;
$regular: 400;
$bold: 700;

/* -----
Easings
----- */
$snap: cubic-bezier(0,1,.5,1);
$easeOutCubic: cubic-bezier(.215,.61,.355,1);
$easeInOutCubic: cubic-bezier(.645,.045,.355,1);
$easeInCirc: cubic-bezier(.6,.04,.98,.335);
$easeOutCirc: cubic-bezier(.075,.82,.165,1);
$easeInOutCirc: cubic-bezier(.785,.135,.15,.86);
$easeInExpo: cubic-bezier(.95,.05,.795,.035);
$easeOutExpo: cubic-bezier(.19,1,.22,1);
$easeInOutExpo: cubic-bezier(1,0,0,1);
$easeInQuad: cubic-bezier(.55,.085,.68,.53);
$easeOutQuad: cubic-bezier(.25,.46,.45,.94);
$easeInOutQuad: cubic-bezier(.455,.03,.515,.955);
$easeInQuart: cubic-bezier(.895,.03,.685,.22);
$easeOutQuart: cubic-bezier(.165,.84,.44,1);
$easeInOutQuart: cubic-bezier(.77,0,.175,1);
$easeInQuint: cubic-bezier(.755,.05,.855,.06);
$easeOutQuint: cubic-bezier(.23,1,.32,1);
$easeInOutQuint: cubic-bezier(.86,0,.07,1);
$easeInSine: cubic-bezier(.47,0,.745,.715);
$easeOutSine: cubic-bezier(.39,.575,.565,1);
$easeInOutSine: cubic-bezier(.445,.05,.55,.95);
$easeInBack: cubic-bezier(.6,-.28,.735,.045);
$easeOutBack: cubic-bezier(.175, .885,.32,1.275);
$easeInOutBack: cubic-bezier(.68,-.55,.265,1.55);

/* -----
Grid
----- */
$col_1:  8.33333333333%;
$col_2:  16.6666666667%;
$col_3: 		   25.0%;
$col_4:  33.3333333333%;
$col_5:  41.6666666667%;
$col_6: 		   50.0%;
$col_7:  58.3333333333%;
$col_8:  66.6666666667%;
$col_9: 		   75.0%;
$col_10: 83.3333333333%;
$col_11: 91.6666666667%;
$col_12: 		    100%;

/* -----
Font Sizes
----- */
$px1: 0.0625rem;
$px2: 0.125rem;
$px3: 0.1875rem;
$px4: 0.25rem;
$px5: 0.3125rem;
$px6: 0.375rem;
$px7: 0.4375rem;
$px8: 0.5rem;
$px9: 0.5625rem;
$px10: 0.625rem;
$px11: 0.6875rem;
$px12: 0.75rem;
$px13: 0.8125rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px17: 1.063rem;
$px18: 1.125rem;
$px19: 1.188rem;
$px20: 1.25rem;
$px21: 1.313rem;
$px22: 1.375rem;
$px23: 1.438rem;
$px24: 1.5rem;
$px25: 1.563rem;
$px26: 1.625rem;
$px27: 1.688rem;
$px28: 1.75rem;
$px29: 1.813rem;
$px30: 1.875rem;
$px31: 1.938rem;
$px32: 2rem;
$px33: 2.063rem;
$px34: 2.125rem;
$px35: 2.188rem;
$px36: 2.25rem;
$px37: 2.313rem;
$px38: 2.375rem;
$px39: 2.438rem;
$px40: 2.5rem;
$px41: 2.563rem;
$px42: 2.625rem;
$px43: 2.688rem;
$px44: 2.75rem;
$px45: 2.813rem;
$px46: 2.875rem;
$px47: 2.938rem;
$px48: 3rem;
$px49: 3.063rem;
$px50: 3.125rem;
$px51: 3.188rem;
$px52: 3.25rem;
$px53: 3.313rem;
$px54: 3.375rem;
$px55: 3.438rem;
$px56: 3.5rem;
$px57: 3.563rem;
$px58: 3.625rem;
$px59: 3.688rem;
$px60: 3.75rem;
$px61: 3.813rem;
$px62: 3.875rem;
$px63: 3.938rem;
$px64: 4rem;
$px65: 4.063rem;
$px66: 4.125rem;
$px67: 4.188rem;
$px68: 4.25rem;
$px69: 4.313rem;
$px70: 4.375rem;
$px71: 4.438rem;
$px72: 4.5rem;
$px73: 4.563rem;
$px74: 4.625rem;
$px75: 4.688rem;
$px76: 4.75rem;
$px77: 4.813rem;
$px78: 4.875rem;
$px79: 4.938rem;
$px80: 5rem;
$px81: 5.063rem;
$px82: 5.125rem;
$px83: 5.188rem;
$px84: 5.25rem;
$px85: 5.313rem;
$px86: 5.375rem;
$px87: 5.438rem;
$px88: 5.5rem;
$px89: 5.563rem;
$px90: 5.625rem;
$px91: 5.688rem;
$px92: 5.75rem;
$px93: 5.813rem;
$px94: 5.875rem;
$px95: 5.938rem;
$px96: 6rem;
$px97: 6.063rem;
$px98: 6.125rem;
$px99: 6.188rem;
$px100: 6.25rem;
$px101: 6.313rem;
$px102: 6.375rem;
$px103: 6.438rem;
$px104: 6.5rem;
$px105: 6.563rem;
$px106: 6.625rem;
$px107: 6.688rem;
$px108: 6.75rem;
$px109: 6.813rem;
$px110: 6.875rem;
$px111: 6.938rem;
$px112: 7rem;
$px113: 7.063rem;
$px114: 7.125rem;
$px115: 7.188rem;
$px116: 7.25rem;
$px117: 7.313rem;
$px118: 7.375rem;
$px119: 7.438rem;
$px120: 7.5rem;
$px121: 7.563rem;
$px122: 7.625rem;
$px123: 7.688rem;
$px124: 7.75rem;
$px125: 7.813rem;
$px126: 7.875rem;
$px127: 7.938rem;
$px128: 8rem;
$px129: 8.063rem;
$px130: 8.125rem;
$px131: 8.188rem;
$px132: 8.25rem;
$px133: 8.313rem;
$px134: 8.375rem;
$px135: 8.438rem;
$px136: 8.5rem;
$px137: 8.563rem;
$px138: 8.625rem;
$px139: 8.688rem;
$px140: 8.75rem;
$px141: 8.813rem;
$px142: 8.875rem;
$px143: 8.938rem;
$px144: 9rem;
$px145: 9.063rem;
$px146: 9.125rem;
$px147: 9.188rem;
$px148: 9.25rem;
$px149: 9.313rem;
$px150: 9.375rem;
$px151: 9.438rem;
$px152: 9.5rem;
$px153: 9.563rem;
$px154: 9.625rem;
$px155: 9.688rem;
$px156: 9.75rem;
$px157: 9.813rem;
$px158: 9.875rem;
$px159: 9.938rem;
$px160: 10rem;
$px161: 10.06rem;
$px162: 10.13rem;
$px163: 10.19rem;
$px164: 10.25rem;
$px165: 10.31rem;
$px166: 10.38rem;
$px167: 10.44rem;
$px168: 10.5rem;
$px169: 10.56rem;
$px170: 10.63rem;
$px171: 10.69rem;
$px172: 10.75rem;
$px173: 10.81rem;
$px174: 10.88rem;
$px175: 10.94rem;
$px176: 11rem;
$px177: 11.06rem;
$px178: 11.13rem;
$px179: 11.19rem;
$px180: 11.25rem;
$px181: 11.31rem;
$px182: 11.38rem;
$px183: 11.44rem;
$px184: 11.5rem;
$px185: 11.56rem;
$px186: 11.63rem;
$px187: 11.69rem;
$px188: 11.75rem;
$px189: 11.81rem;
$px190: 11.88rem;
$px191: 11.94rem;
$px192: 12rem;
$px193: 12.06rem;
$px194: 12.13rem;
$px195: 12.19rem;
$px196: 12.25rem;
$px197: 12.31rem;
$px198: 12.38rem;
$px199: 12.44rem;
$px200: 12.5rem;
$px201: 12.56rem;
$px202: 12.63rem;
$px203: 12.69rem;
$px204: 12.75rem;
$px205: 12.81rem;
$px206: 12.88rem;
$px207: 12.94rem;
$px208: 13rem;
$px209: 13.06rem;
$px210: 13.13rem;
$px211: 13.19rem;
$px212: 13.25rem;
$px213: 13.31rem;
$px214: 13.38rem;
$px215: 13.44rem;
$px216: 13.5rem;
$px217: 13.56rem;
$px218: 13.63rem;
$px219: 13.69rem;
$px220: 13.75rem;
$px221: 13.81rem;
$px222: 13.88rem;
$px223: 13.94rem;
$px224: 14rem;
$px225: 14.06rem;
$px226: 14.13rem;
$px227: 14.19rem;
$px228: 14.25rem;
$px229: 14.31rem;
$px230: 14.38rem;
$px231: 14.44rem;
$px232: 14.5rem;
$px233: 14.56rem;
$px234: 14.63rem;
$px235: 14.69rem;
$px236: 14.75rem;
$px237: 14.81rem;
$px238: 14.88rem;
$px239: 14.94rem;
$px240: 15rem;
$px241: 15.06rem;
$px242: 15.13rem;
$px243: 15.19rem;
$px244: 15.25rem;
$px245: 15.31rem;
$px246: 15.38rem;
$px247: 15.44rem;
$px248: 15.5rem;
$px249: 15.56rem;
$px250: 15.63rem;
$px251: 15.69rem;
$px252: 15.75rem;
$px253: 15.81rem;
$px254: 15.88rem;
$px255: 15.94rem;
$px256: 16rem;
$px257: 16.06rem;
$px258: 16.13rem;
$px259: 16.19rem;
$px260: 16.25rem;
$px261: 16.31rem;
$px262: 16.38rem;
$px263: 16.44rem;
$px264: 16.5rem;
$px265: 16.56rem;
$px266: 16.63rem;
$px267: 16.69rem;
$px268: 16.75rem;
$px269: 16.81rem;
$px270: 16.88rem;
$px271: 16.94rem;
$px272: 17rem;
$px273: 17.06rem;
$px274: 17.13rem;
$px275: 17.19rem;
$px276: 17.25rem;
$px277: 17.31rem;
$px278: 17.38rem;
$px279: 17.44rem;
$px280: 17.5rem;
$px281: 17.56rem;
$px282: 17.63rem;
$px283: 17.69rem;
$px284: 17.75rem;
$px285: 17.81rem;
$px286: 17.88rem;
$px287: 17.94rem;
$px288: 18rem;
$px289: 18.06rem;
$px290: 18.13rem;
$px291: 18.19rem;
$px292: 18.25rem;
$px293: 18.31rem;
$px294: 18.38rem;
$px295: 18.44rem;
$px296: 18.5rem;
$px297: 18.56rem;
$px298: 18.63rem;
$px299: 18.69rem;
$px300: 18.75rem;
$px301: 18.81rem;
$px302: 18.88rem;
$px303: 18.94rem;
$px304: 19rem;
$px305: 19.06rem;
$px306: 19.13rem;
$px307: 19.19rem;
$px308: 19.25rem;
$px309: 19.31rem;
$px310: 19.38rem;
$px311: 19.44rem;
$px312: 19.5rem;
$px313: 19.56rem;
$px314: 19.63rem;
$px315: 19.69rem;
$px316: 19.75rem;
$px317: 19.81rem;
$px318: 19.88rem;
$px319: 19.94rem;
$px320: 20rem;
$px321: 20.06rem;
$px322: 20.13rem;
$px323: 20.19rem;
$px324: 20.25rem;
$px325: 20.31rem;
$px326: 20.38rem;
$px327: 20.44rem;
$px328: 20.5rem;
$px329: 20.56rem;
$px330: 20.63rem;
$px331: 20.69rem;
$px332: 20.75rem;
$px333: 20.81rem;
$px334: 20.88rem;
$px335: 20.94rem;
$px336: 21rem;
$px337: 21.06rem;
$px338: 21.13rem;
$px339: 21.19rem;
$px340: 21.25rem;
$px341: 21.31rem;
$px342: 21.38rem;
$px343: 21.44rem;
$px344: 21.5rem;
$px345: 21.56rem;
$px346: 21.63rem;
$px347: 21.69rem;
$px348: 21.75rem;
$px349: 21.81rem;
$px350: 21.88rem;
$px351: 21.94rem;
$px352: 22rem;
$px353: 22.06rem;
$px354: 22.13rem;
$px355: 22.19rem;
$px356: 22.25rem;
$px357: 22.31rem;
$px358: 22.38rem;
$px359: 22.44rem;
$px360: 22.5rem;
$px361: 22.56rem;
$px362: 22.63rem;
$px363: 22.69rem;
$px364: 22.75rem;
$px365: 22.81rem;
$px366: 22.88rem;
$px367: 22.94rem;
$px368: 23rem;
$px369: 23.06rem;
$px370: 23.13rem;
$px371: 23.19rem;
$px372: 23.25rem;
$px373: 23.31rem;
$px374: 23.38rem;
$px375: 23.44rem;
$px376: 23.5rem;
$px377: 23.56rem;
$px378: 23.63rem;
$px379: 23.69rem;
$px380: 23.75rem;
$px381: 23.81rem;
$px382: 23.88rem;
$px383: 23.94rem;
$px384: 24rem;
$px385: 24.06rem;
$px386: 24.13rem;
$px387: 24.19rem;
$px388: 24.25rem;
$px389: 24.31rem;
$px390: 24.38rem;
$px391: 24.44rem;
$px392: 24.5rem;
$px393: 24.56rem;
$px394: 24.63rem;
$px395: 24.69rem;
$px396: 24.75rem;
$px397: 24.81rem;
$px398: 24.88rem;
$px399: 24.94rem;
