<div class="js-component-foo"></div>
<div class="js-component-bar">
    <div class="js-component-bar-foo"></div>
    <div class="js-component-bar-foo"></div>
    <div class="js-component-bar-foo"></div>
</div>
<div class="vertical-align">
    <div class="vertical-align__item">
        <p><strong>Home</strong> > <a href="/about">About</a></p>
        <br>
        <p style="color: #a9a9a9;">Duplicate sections</p>
        <p><a href="/section/one">Section 1</a> > <a href="/section/two">Section 2</a></p>
        <br>
        <p style="color: #a9a9a9;">Sub sections</p>
        <p><a href="/gallery">Gallery</a></p>
        <p><a href="/gallery/one">Gallery 1</a> > <a href="/gallery/two">Gallery 2</a></p>
    </div>
</div>